@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}



.container {
    margin: 30px auto;
    background: white;
    padding: 20px 15px
}

label.box {
    display: flex;
    margin-top: 10px;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd
}

label.box.answer {
    cursor: default;
}

label.box.question:hover {
    background: #d5bbf7
}



label.box .course {
    display: flex;
    align-items: center;
    width: 100%
}

label.box .circle {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #ddd;
    display: inline-block
}

input[type="radio"] {
    display: none
}

.btn.btn-primary {
    border-radius: 25px;
    margin-top: 20px
}

@media(max-width: 450px) {
    .subject {
        font-size: 12px
    }
}

span.true {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #3bce6c;
    background-color: #fff;

    /* display: inline-block */
}

span.false {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #cb2b2b;
    background-color: #fff;

    /* display: inline-block */
}

label.box.true {
    background: #bbf7cf
}

label.box.false {
    background: #f3a192
}