.vr {
    margin-left: 10px;
}

.filters {
    margin: 85px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.filters h5 {
    border-bottom: 1px solid #666;
    width: 80%;
    font-weight: bold;
}

.filters .checkbox-with-label {
    display: flex;
}

.filters button {
    margin-left: -10px;
    margin-right: -10px;
}